p.author {
	width: 75%;
	font-style: italic;
	font-weight: bold;
}

.intro {
	background-color: yellow;
}

h2.intro {
	color: cornflowerblue;
}

p.intro {
	width: 50%;
	font-style: italic;
}

img.intro {
	width: 25%;
}

.important {
	color: red;
}

.unimportant {
	color: blue;
}

.notice {
  color: green;
	font-size: 3em;
}

.highlight {
  background-color: orange;
}

img {
  float: left;
}

.sidebar {
  width: 30%;
  float: right;
  background-color: yellow;
}
.column {
  width: 300px;
  float: left;
}